.logement {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .logement-informations {
    display: inline-flex;
    justify-content: space-between;

    .logement-info {
      display: inline-flex;
      flex-direction: column;

      .logement-title {
        color: #ff6060;
        font-family: Montserrat;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 600;
      }

      .logement-location {
        color: #000;
        font-family: Montserrat;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
      }
    }

    .logement-host-info {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 1.3125rem;
    }
  }

  .logement-equipement {
    display: inline-flex;
    align-items: flex-start;
    gap: 4.75rem;

    .accordion-header {
      border-radius: 0.625rem;

      .accordion-title {
        font-size: 1.125rem;
      }
    }
    .accordion-content {
      border-radius: 0.625rem;
    }
  }
}
