@import "../../../../variables.scss";

.tag {
  display: inline-flex;
  padding: 0.15625rem 1.375rem;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;

  border-radius: 0.625rem;
  background: $accent-color;

  .tag-text {
    color: $white-color;
    font-family: "Montserrat";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
  }
}

@media (max-width: 1024px) {
  .tag {
    padding: 0.1875rem 1.275rem;
    border-radius: 0.625rem;

    .tag-text {
      font-size: 0.725rem;
    }
  }
}

@media (max-width: 768px) {
  .tag {
    padding: 0.1875rem 1.075rem;
    border-radius: 0.625rem;

    .tag-text {
      font-size: 0.625rem;
    }
  }
}
