.layout {
  padding: 2.8125rem 6.25rem 2.8125rem;
  display: flex;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  gap: 3.125rem;
}

.layout-children {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  align-self: stretch;
  gap: 2.68rem;
}
