.layout {
  padding: 2.8125rem 6.25rem 2.8125rem;
  display: flex;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  gap: 3.125rem;
}

.layout-children {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  align-self: stretch;
  gap: 2.125rem;
}

@media (max-width: 1024px) {
  .layout {
    padding: 1.8rem 3.25rem 2.8125rem;
    gap: 2.08rem;
  }
  .layout-children {
    gap: 1.7rem;
  }
}

@media (max-width: 768px) {
  .layout {
    padding: 1.25rem 1.25rem 2.8125rem;
    gap: 1.125rem;
  }

  .layout-children {
    gap: 1.38rem;
  }
}
