@import "../../../variables.scss";

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .icon {
    fill: $accent-color;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3.5625rem;

    .nav-item {
      color: #000;
      text-align: right;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
      text-decoration: none;

      &.active {
        text-decoration: underline;
      }
    }
  }
}
