@import "../../../variables.scss";

.accordion {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 63.9375rem;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  cursor: pointer;

  &-header {
    position: absolute;
    display: flex;
    width: 100%;
    max-height: 3.25rem;
    padding: 1.25rem;
    justify-content: space-between;
    align-items: center;

    border-radius: 0.3125rem;
    background: $accent-color;

    .icon {
      transform: rotate(180deg);
      transition: transform 0.4s ease-in-out;
    }

    .accordion-title {
      color: $white-color;
      font-family: Montserrat;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
    }
  }

  &-content {
    display: flex;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    padding-top: 0rem;
    height: 3.25rem;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 0;
    align-self: stretch;

    border-radius: 0.625rem 0.625rem 0.3125rem 0.3125rem;
    background: $secondary-color;

    transition: padding-top 0.4s ease-in-out, height 0.4s ease-in-out;
    & p {
      color: #000;
      font-family: Montserrat;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 500;
    }
  }

  &.active {
    .icon {
      transform: rotate(0deg);
    }
    .accordion-content {
      padding-top: 4.5rem;
      height: 20rem;
    }
  }
}
