@import "../../../../variables.scss";

.rate {
  gap: 0.25rem;

  .icon {
    width: 2.25rem;
    height: 2.25rem;

    &.star-empty {
      fill: $rate-color;
    }
    &.star-filled {
      fill: $accent-color;
    }
  }
}
