@import "../../../../variables.scss";

.rate {
  gap: 0.25rem;

  .icon {
    width: 2.25rem;
    height: 2.25rem;

    &.star-empty {
      fill: $rate-color;
    }
    &.star-filled {
      fill: $accent-color;
    }
  }
}

@media (max-width: 1024px) {
  .rate {
    gap: 0.2rem;

    .icon {
      width: 1.7rem;
    }
  }
}

@media (max-width: 768px) {
  .rate {
    gap: 0.15rem;

    .icon {
      width: 1.125rem;
    }
  }
}
