@import "../../../../variables.scss";

.carousel {
  display: flex;
  position: relative;
  width: 100%;
  height: 25.9375rem;
  overflow: hidden;
  border-radius: 1.5625rem;

  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;

    img {
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .carousel-controler {
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      background: none;
      border: none;
      cursor: pointer;
    }

    .next-button {
      height: 100%;
      z-index: 1;
    }
    .prev-button {
      height: 100%;
      z-index: 1;
    }
  }

  .carousel-image-number {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: flex-end;
    p {
      color: #fff;
      text-align: center;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%; /* 1.60425rem */
    }
  }
}

@media (max-width: 1024px) {
  .carousel {
    height: 20.9375rem;
    border-radius: 1rem;
    .carousel-controler {
      .next-button {
        width: 15%;
        .icon {
          width: 3.5rem;
        }
      }
      .prev-button {
        width: 15%;
        .icon {
          width: 3.5rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .carousel {
    height: 15.9375rem;
    border-radius: 0.625rem;

    .carousel-controler {
      .next-button {
        width: 15%;
        .icon {
          width: 1.5rem;
        }
      }
      .prev-button {
        width: 15%;
        .icon {
          width: 1.5rem;
        }
      }
    }
  }
}
