@import "../../../variables.scss";

.footer-container {
  display: flex;
  height: 13.0625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8125rem;
  align-self: stretch;

  background: #000;

  .icon {
    width: 7.625rem;
    height: 2.46525rem;
    fill: $primary-color;
  }

  .rights {
    color: $primary-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
  }
}
